.card{
    padding: 5rem;
    border: 2px solid rebeccapurple;
    width: 350px;
    height: 350px;
    display: inline-block;
    overflow-y: scroll;
    
}
.add_btn{
    margin-right: 130px;
}
.remove_btn{
    margin-right: 130px;
}
.delete_btn{
    margin-right: 130px;
}